<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover Centro de Coleta</title>
</head>
<body>
    <h2>Remover Centro de Coleta</h2>
    <p>Você tem certeza que deseja remover o centro "{{ centro.nome }}"?</p>

    <form method="post" action="/remover_centro/{{ centro.id }}/">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button type="submit">Confirmar Remoção</button>
        <a href="centros:lista_centros">Cancelar</a>
    </form>
</body>
</html>