<!-- users/templates/users/user_detail.html -->

{% extends "base.html" %}
{% block title %}Detalhes do Usuário{% endblock %}

{% block content %}
  <h2>Detalhes do Usuário</h2>
  {% if user.is_company %}
      <a href="{% url 'user:empresa_dashboard' %}" class="back-btn">&larr;</a>
  {% else %}
      <a href="{% url 'user:usuario_dashboard' %}" class="back-btn">&larr;</a>
  {% endif %}
  <ul class="list-group">
    <li class="list-group-item"><strong>ID:</strong> {{ user_detail.id }}</li>
    {% if user_detail.is_company %}
      <li class="list-group-item"><strong>Nome da Empresa:</strong> {{ user_detail.nome_empresa }}</li>
      <li class="list-group-item"><strong>Endereço da Empresa:</strong> {{ user_detail.endereco_empresa }}</li>
      <li class="list-group-item"><strong>Telefone da Empresa:</strong> {{ user_detail.telefone_empresa }}</li>
    {% else %}
      <li class="list-group-item"><strong>Nome:</strong> {{ user_detail.nome }} {{ user_detail.sobrenome }}</li>
    {% endif %}
    <li class="list-group-item"><strong>Email:</strong> {{ user_detail.email }}</li>
    <li class="list-group-item"><strong>Telefone:</strong> {{ user_detail.telefone }}</li>
    <li class="list-group-item"><strong>Tipo:</strong> 
      {% if user_detail.is_company %}
        Empresa
      {% else %}
        Usuário
      {% endif %}
    </li>
    
  </ul>
  {% comment %} <a href="{% url 'user:listar_user' %}" class="btn btn-secondary mt-3">Voltar à Lista</a> 
  <a href="{% url 'user:user-update' user_detail.id %}" class="btn btn-warning mt-3">Editar</a>{% endcomment %}
{% endblock %}
